* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #121212; /* fondo oscuro estilo Spotify */
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1DB954; /* verde Spotify */
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

header .logo {
    height: 70px; 
}


main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

section {
    margin-bottom: 40px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #1DB954;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #282828;
    color: #fff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1ed760; /* verde más brillante al pasar */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #333;
    text-align: left;
}

th {
    color: #1DB954;
}

.flex {
    display: flex;
    gap: 10px;
}

.search-input {
    width: calc(100% - 120px);
    display: inline-block;
    background-color: #282828;
    color: #fff;
    border: 1px solid #333;
}

.search-btn {
    width: 100px;
    display: inline-block;
    background-color: #1DB954;
}

.search-btn:hover {
    background-color: #1ed760;
}
